h1 {
    color: chartreuse;
    background-color: indigo;
    font-family:'Kanit', sans-serif;
    border-radius: 10px;
}

.smileyFace {
    background-image: 
    url('https://i.pinimg.com/564x/5f/0c/0c/5f0c0c253f37803e39f22138a4e1e55d.jpg'); height: 400px;
    ;
    background-repeat: repeat;
}

#cuadriculaEventos{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}
    
.alineacion {
    display: grid;  
    justify-content: center;
}